<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <a href="/">
        <img src="/images/logo-iarbre.png" alt="Logo" class="navbar-logo" />
      </a>
    </div>
    <div class="navbar-right">
      <a href="https://carte.iarbre.fr" class="navbar-link">La carte</a>
      <a href="/actualites" class="navbar-link">Actualités</a>
      <a href="/#newsletter" class="navbar-link">Newsletter</a>
      <a href="mailto:contact@telescoop.fr" class="navbar-link"
        >Nous Contacter</a
      >
    </div>
  </div>
</header>
