<section class="bandeau-cdc">
  <div class="bandeau-content">
    <div class="bandeau-logo">
      <a
        href="
        https://www.caissedesdepots.fr/
"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img alt="Logo Caisse des Dépôts" src="/images/cdc.png" />
      </a>
    </div>
    <div class="bandeau-text">
      <p>
        Ce projet est financé par la <strong>Caisse des Dépôts</strong>, un
        acteur majeur de la transition écologique et du développement des
        territoires. Découvrez plus sur leur engagement
        <a
          href="https://www.caissedesdepots.fr/"
          target="_blank"
          rel="noopener noreferrer"
          >ici</a
        >.
      </p>
    </div>
  </div>
</section>
