<section class="bandeau-2030">
  <div class="bandeau-content">
    <div class="bandeau-text">
      <p>
        #France2030 est un plan ambitieux doté de 54 milliards d'euros visant à
        transformer durablement les secteurs clés de l'économie française par
        l'innovation, en soutenant des projets décarbonés et portés par des
        acteurs émergens pour positionner la France comme leader mondial des
        technologies et industries du futur.
      </p>
    </div>
    <div class="bandeau-logo">
      <img alt="Logo 2030" src="/images/2030.png" />
    </div>
  </div>
</section>
