<div class="text">
  <p>
    Le <strong>consortium IA·rbre</strong> vise à développer des outils pour
    l'<strong>adaptation au changement climatique</strong> au travers notamment
    de la <strong>végétalisation</strong>, l'<strong
      >inventaire du végétal existant</strong
    >, la <strong>gestion de l'eau</strong> et l'<strong
      >étude des vulnérabilités</strong
    >. Cette grande ambition est portée en collaboration avec la
    <a
      href="https://www.grandlyon.com"
      target="_blank"
      rel="noopener noreferrer"
      ><strong>Métropole de Lyon</strong></a
    >, le
    <a href="https://liris.cnrs.fr" target="_blank" rel="noopener noreferrer"
      ><strong>laboratoire LIRIS</strong></a
    >
    et d'autres partenaires. Le laboratoire
    <a href="https://www.erasme.org" target="_blank" rel="noopener noreferrer"
      ><strong>Erasme</strong></a
    >
    joue un rôle clé en coordonnant des projets de
    <strong>co-développement</strong> pour pérenniser et généraliser les
    innovations publiques. Nous nous appuyons également sur l'expertise de
    <a
      href="https://data.grandlyon.com"
      target="_blank"
      rel="noopener noreferrer"
      ><strong>data.grandlyon</strong></a
    >
    pour l'accès aux données ouvertes.
  </p>

  <p>
    Ces outils permettent une meilleure <strong>analyse</strong> et
    <strong>visualisation des données</strong>, répondant aux enjeux de
    <strong>résilience urbaine</strong>. Ils pourront également de fournir des
    éléments nécessaires pour la rédaction et le suivi du
    <strong>plan climat-air énergie territorial</strong> (<a
      href="https://outil2amenagement.cerema.fr/outils/plan-climat-air-energie-territorial-pcaet"
      target="_blank"
      rel="noopener noreferrer"
      >PCAET</a
    >). Le projet reflète une dynamique collective d'<strong
      >innovation ouverte</strong
    >
    et d'adaptation aux politiques publiques complexes.
  </p>
</div>
