<div class="text">
  <p>
    <strong>Le projet IA·rbre</strong> est une initiative collaborative dédiée à
    la transition écologique menée par un consortium comprenant la SCOP
    TelesCoop comme chef de file, la Métropole de Lyon et l'université Lyon 2
    avec le laboratoire LIRIS.
  </p>
  <p>
    En s'appuyant sur des compétences variées, ce projet vise à co-développer
    des outils innovants de gestion et de visualisation de données territoriales
    pour favoriser <strong>la résilience urbaine</strong> et l'élaboration de
    politiques publiques locales telles que le <strong>PCAET</strong>. S'étalant
    sur trois ans, IA·rbre bénéficie d'un financement de la Caisse des Dépôts,
    garantissant les ressources pour atteindre ses ambitions.
  </p>
</div>
